body {
    background-color: #04103d;
    margin: 0;
    margin-bottom: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a:link, a:visited {
    color: #e3e3ff;
    text-decoration: none;
}
a:hover, a:active, a.footer-link:link, a.footer-link:visited {
    color: #ababff;
    text-decoration: none;
}
a.footer-link:hover, a.footer-link:active {
    color: #6c70e0;
    text-decoration: none;
}
.title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    color: #e3e3ff;
}
nav {
    min-width: 400px;
    max-width: 65%;
    padding: 20px;
    border-radius: 20px;
    background-color: #0a1d66;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.nav-icon {
    width: auto;
    position: relative;
    left: 10px;
    text-align: left;
    display: inline-block;
}
.nav-item {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    left: 20px;
    bottom: 14px;
    display: inline-block;
}
.nav-invite {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 30px;
    bottom: 34px;
    display: inline-block;
}
#search-content {
    position: relative;
    display: flex;
    min-width: 200px;
}
.search-icon {
    position: absolute;
    left: 15px;
    top: 12px;
    filter: invert(100);
    width: 18px;
    height: 18px;
}
.searchbar[type=text] {
    color: #ababff;
    margin-bottom: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: #7679db;
    padding: 10px 35px 10px 40px;
    outline: 0;
    background-color: #04103d;
    font-size: 16px;
}
#command-content {
    min-width: 400px;
    max-width: 65%;
    min-height: 420px;
    top: 70px;
    bottom: 30px;
    position: relative;
    margin: auto;
}
.command-desc {
    color: #ababff;
    font-size: 16px;
}
.commands {
    font-size: 18px;
    color: #e3e3ff;
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 0px;
    top: 0px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: auto;
    background-color: #050636;
}
.commands + .commands {
    margin-top: 15px;
}
.footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 200px;
    position: relative;
    bottom: -200px;
    background-color: #050636;
}
#footer-content {
    display: flex;
    position: relative;
    margin: auto;
    width: 50%;
}
.footer-icon {
    padding-top: 50px;
    position: relative;
    display: inline-block;
}
#footer-info {
    margin-top: 65px;
    margin-left: 15px;
    position: relative;
    display: inline-block;
}
#footer-links {
    margin-left: auto;
    margin-top: 75px;
    margin-right: 0px;
    position: relative;
    display: block;
    font-size: 18px;
    color: #ababff;
}
.footer-link {
    position: relative;
    display: block;
}
.footer-name {
    font-weight: bold;
    font-size: 28px;
    color: #e3e3ff;
    position: relative;
    display: block;
}
.footer-copyright {
    font-size: 18px;
    color: #ababff;
    position: relative;
    display: block;
}